
.above-the-fold {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
}

.about-us-video {
	width: 100%;
	height: 0px;
	position: relative; 
	padding-bottom: 75%;
}

.about-us-video-content {
	position: absolute;
	width: 100%;
	height: 100%;
}

.about-us-video-content:before {
	content: '';
	display: inline-block;
	height: 100%;
}

.about-us-video-content iframe {
	width: 98%;
	height: 98%;
}

.button-sign-in {
	align-self: flex-end;
	padding-bottom: .5em;
	position: absolute;
}

.highlights {
	height: 70%;
	width: 100%;
	border: 1px solid black;
	margin: 0;
	padding: 1em;
	display: flex;
}

.highlight-box-1 {
	height: 100%;
	width: 100%;
	border: 1px solid black;
}

.blog {
	height: 100%;
	width: 100%;
	border: 1px solid black;
	display: flex;
	padding: .5em;
	flex-direction: column;
	justify-content: space-around;
}

.blog-content {
	height: 40%;
	width: 100%;
	border: 1px solid black;
	padding: .3em;
	display: flex;
	flex-direction: row;
}

.blog-image {
	height: 100%;
	width: 40%;
	border: 1px solid black;
}

.blog-text {
	height: 100%;
	width: 60%;
	border: 1px solid black;
	padding: .5em;
}

.section-members {
	height: 100%;
	width: 100%;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	padding: .5em;
}

.member-avatar {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border: 1px solid black;
}

.section-members {
	display: flex;
	height: auto;
	justify-content: space-between;
}

.member-img {
	display: flex;
	justify-content: center;	
	align-items: center;
	flex-direction: column;
	margin-bottom: 1em;
}

.member-avatar img {
	border-radius: 100%;
}


.support {
	height: 100%;
	width: 100%;
	padding: .5em;
}

.support-img figure {
	margin-bottom: .5em;
	padding: .2em;
}