/*62,5% para tamanho da fonte*, esta medida se baseia na estrutura global de 16px, a fonte tendo esta proporçao equivale a uma base decimal, logo 1em = 10px, 16px = 1.6 em; indicado para qualquer projeto responsivo*/

@font-face {
  font-family: ;
  src: url();
}

h1, h2, h3, h4, h5, h6 { 
	font-family: Helvetica, Arial, sans-serif;
	font-size: 2em;
	line-height: 1em;
}
p {

}
ol, ul { 

}
a { 

}
blockquote {
} 
pre, code { 

}
small {

}