<div class="filme col s12 m12">
  <div style="padding: .5em">
    <h5>{{filme.titulo}}</h5>
  </div>
  <div class="filme-capa card-image">
    <img ng-src="{{filme.capa}}" ng-click="assistirFilme()">
  </div>

  <div class="filme-sinopse card-content">
      <span class="black-text">
        <span class="enviado-por">Enviado por: </span>{{filme.usuario.nome}} - {{filme.criadoEm}}
      </span>
      <div class="chips">
        <div class="chip" ng-repeat="(key, genero) in filme.generos">{{generos[genero]}}</div>
      </div>
      <p class="valign-wrapper">{{filme.sinopse}}</p>
    </div>
</div>