	<section class="above-the-fold row">

		<figure class="main-img">
			<img src="../../public/assets/images/background.jpg" alt="main-image" class="img-responsive">
		</figure>
		<div class="button-sign-in">
			<a href="#" class="btn btn-info btn-sm sign-in">Inscreva-se</a>
		</div>
		
	</section>
	<section class="about-us row">
		<div class="col-xs-12">
			<h2 class="text-center">O que é o Cine Favela?</h2>
			<div class="about-us-video">
				<div class="about-us-video-content">
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/V7GMmJU8uOQ?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</section>

	<h4 class="text-center">Principais Atividades</h4>	
	<section class="highlights row col-xs-12">
		<div class="highlight-box-1">
			<figure class="img-place">
				<img src="../../../public/assets/images/singelo.jpg" alt="imagem-comunidade" class="img-responsive">
			</figure>

			<figure class="img-place">
				<img src="../../../public/assets/images/festival-cine-favela.jpg" alt="imagem-comunidade" class="img-responsive">
			</figure>

			<figure class="img-place">
				<img src="../../../public/assets/images/cinema.jpg" alt="imagem-comunidade" class="img-responsive">
			</figure>

			<figure class="img-place">
				<img src="../../../public/assets/images/noticia.jpg" alt="imagem-comunidade" class="img-responsive">
			</figure>
		</div>
	</section>
	
	<h4 class="text-center">Participantes</h4>
	<section class="section-members col-xs-12">
		<div class="avatar row">
			<div class="col-xs-8 col-xs-offset-2 member-img">
				<figure class="member-avatar">
					<img src="../../../public/assets/images/1.jpg" alt="imagem-integrante" class="img-responsive">
				</figure>

				<h4>Ricardo Lopes</h4>
			</div>
			<div class="col-xs-8 col-xs-offset-2 member-img">
				<figure class="member-avatar">
					<img src="../../../public/assets/images/2.jpg" alt="imagem-integrante" class="img-responsive">
				</figure>

				<h4>Adriano Padilha</h4>
			</div>

			<div class="col-xs-8 col-xs-offset-2 member-img">
				<figure class="member-avatar">
					<img src="../../../public/assets/images/3.jpg" alt="imagem-integrante" class="img-responsive">
				</figure>
				<h4>Ricardo Ceretto</h4>
			</div>

			<div class="col-xs-8 col-xs-offset-2 member-img">
				<figure class="member-avatar">
					<img src="../../../public/assets/images/9.jpg" alt="imagem-integrante" class="img-responsive">
				</figure>
				<h4>Marina Silva</h4>
			</div>
			<div class="col-xs-8 col-xs-offset-2 member-img">
				<figure class="member-avatar">
					<img src="../../../public/assets/images/5.jpg" alt="imagem-integrante" class="img-responsive">
				</figure>
				<h4>Mauro Lopes</h4>
			</div>
			<div class="col-xs-8 col-xs-offset-2 member-img">
				<figure class="member-avatar">
					<img src="../../../public/assets/images/6.jpg" alt="imagem-integrante" class="photo-avatar img-responsive">
				</figure>
				<h4>Geovanni Toretto</h4>
			</div>
		</div>
	</section>

	<section class="contact row">
		<form class="form col-xs-12">
			<h2 class="text-center">Contato</h2>
			<div class="form-group">
				<label for="name">Nome: </label>
				<input type="text" class="form-control" id="name" name="name" ng-model="contact.name" placeholder="Digite seu nome" required="">
			</div>
			<div class="form-group">
				<label for="email">E-mail: </label>
				<input type="email" class="form-control" id="email" name="email" ng-model="contact.email" placeholder="Digite seu email" required="">
			</div>	
			<div class="form-group">
				<label for="message">Mensagem: </label>
				<textarea rows="5" class="form-control" id="email" name="email" ng-model="contact.email" placeholder="Digite sua mensagem" required=""></textarea>
			</div>
			<div class="form-group">
				<button class="btn btn-primary pull-right"><i class="fa fa-paper-plane" aria-hidden="true"></i> Enviar</button>
			</div>
		</form>
	</section>

	<h4 class="text-center">Apoio </h4>
	<section class="support col-xs-12">
		<div class="support-img col-xs-8 col-xs-offset-2">
			<figure>
				<img src="../public/assets/images/pc_logo.jpg" alt="logo-ponto-de-cultura" class="img-responsive">
			</figure>
			<figure>
				<img src="../public/assets/images/sp_logo.png" alt="logo-prefeitura-de-sao-paulo" class="img-responsive">
			</figure>
			<figure>
				<img src="../public/assets/images/marcagovernofederal.JPG" alt="logo-governo-federal" class="img-responsive">
			</figure>
		</div>
	</section>
	