@media screen and (orientation: landscape and max-width: 1024px) {
	.above-the-fold {
		height: 120%;
	}

	.highlight-boxes {
		padding: 0px 10%;
	}

	.experiences {
		height: 140%;
	}
}


@media screen and (min-width: 720px) {
	.experiences {
		height: 60%;
	}

	._members {
		display: flex;
		flex-direction: row;
	}
}

@media screen and (min-width: 500px) {
	.experiences {
		height: 60%;
	}

	._members {
		 padding: .5em;
    flex-wrap: wrap;
    justify-content: space-between;
	}

	.member-photo {
		padding: .5em 1em;
		width: auto;
		margin: 0 0 .5em 0;
	}
}