@media only screen 
  and (orientation: landscape) {

  	.header {
  		height: calc(100% - 90px);
   		border: 1px solid black;
  	}
  	.video {
  		margin: 0 1em;
  	}

	.support-section {
		margin: 0;
		justify-content: center;
		align-items: center;
	}

	.support-section img {
		width: 100%;
		height: 350px;
	}

	.partners figure {
		height: auto;
		width: auto;
	}

	.partners img {
		height: 220px;
		width: 250px;
	}

}

@media screen and (orientation: landscape and max-width: 1024px) {
	.above-the-fold {
		height: 120%;
	}

	.highlight-boxes {
		padding: 0px 10%;
	}

	.experiences {
		height: 140%;
	}
}


@media screen and (min-width: 720px) {
	.experiences {
		height: 60%;
	}

	._members {
		display: flex;
		flex-direction: row;
	}

	.header-content {
	    height: 100%;
		background-image: url('/assets/media/home.jpg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	
	.video {
		margin: 0 1em;
	}

	.sign-in {
		align-self: flex-end;
		margin: 0 0 3em 0;
	}

	.partners {
		height: auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.partners figure {
		margin: 0 .5em;
	}

	.partners img {
		height: 80px;
		width: 100px;
	}
}

@media screen and (min-width: 500px) {
	.experiences {
		height: 60%;
	}

	._members {
		 padding: .5em;
    flex-wrap: wrap;
	}
	
	.member-avatar {
		margin: .5em 0;
	}
	.member-photo {
		padding: .5em 1em;
		width: auto;
		margin: 0 0 .5em 0;
	}
}