html, body {
	width: 100%;
	height: 100%;	
}

body {
	padding-top: 50px;
}

.main {
	width: 100%;
	height: 100%;
}

.content {
	height: 70%;

}

.footer {
	height: 30%;
}

.section-title {
	text-align: center;
}

.above-the-fold {
	height: 100%;
	background-color: yellow;

}

.above-the-fold-content {
	height: 100%;
	background-image: url('/assets/media/foto-cine.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.above-the-fold-content p {
	margin: 0px 5%;
}

.btn-need-help {
	left: calc( 50% - 90px );
}

.btn-want-to-help {
	right: calc( 50% - 90px );
}

.highlight-boxes {
	height: auto;
}

.highlight-box {
	padding: 1em;
}

.highlight-box-content {
	height: 0px;
	padding-top: 100%;
	background-color: blue;
}

.experiences {
	height: 100%;
}

.experiences-content {
	height: calc( 100% - 63px );
	background-color: red;
}

.form-contact {
	padding-bottom: 1em;
}

.share-experiences {
	height: 25%;
}

.share-experiences-buttons {
	height: 100%;
}

.fa-bars {
	float: right;
	margin-top: .3em;
}

.above-the-fold-content {
	display: flex;
	flex-direction: column;
	height: 100%
	width: 100%;
}

.title {
	height: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.description-content {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;		
	height: 50%;
	color: #fff;
}

.footer {
	height: auto;
	padding: 1em 3em;
	align-items: center;
	background-color: blue;
	color: #fff;
	flex-direction: column;
}

.social-network {
	display: flex;
	justify-content: space-between;
	padding-bottom: 1em;
}

.footer p {
	text-align: center;
}

.members {
	margin: 0;
	padding: .5em;
	border: solid 1px black;
	height: auto;
	display: flex;
	flex-direction: column;
}

._members {
border: solid 1px black;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.member-avatar {
	height: 250px;
	width: 250px;
	border: solid 1px black;
	margin: 0 0 .5em 0;
	display: flex;
	flex-direction: column;
}

.member-photo {
	width: auto;
	margin: 0 .3em;
}
.member-photo img{
	border-radius: 100%;
	border: 1px solid black;
}
