<link rel="stylesheet" href="styles/filmes.css">
    <div class="navbar-fixed">
      <nav class="red lighten-1">
        <div class="nav-wrapper container">
          <ul class="right hide-on-med-and-down">
            <li><a href="#/">Home</a></li>
          </ul>
        </div>
    </div>    
<div class="content">
  <div id="wrapper" ng-hide="filmes.length == 0">
    <div id="columns">
      <filme ng-repeat="filme in filmes" filme="filme"></filme>
    </div>
  </div>
  <div ng-show="filmes.length == 0">
    <h1>Ops... não há nenhum filme inscrito. <a href="javascript:void(0)" ng-click="abrirFormularioInscricao()">Clique aqui e seja o primeiro a se inscrever.</a></h1>
  </div>

  <a id="btn-logar" class="btn-floating btn-large waves-effect waves-light blue hide" ng-click="abrirFormularioInscricao()"><i class="material-icons">add</i></a>
  <br>
  <a id="btn-sign-in" class="btn-floating btn-large waves-effect waves-light blue hide" onclick="javascript: $('#modal-sign-in').openModal();"><i class="material-icons">add</i></a>
  <br>
  <a id="btn-watch-video" class="btn-floating btn-large waves-effect waves-light blue hide" onclick="javascript: $('#modal-watch-video').openModal();"><i class="material-icons">add</i></a>

  <a id="btn-inscrever-filme" class="btn-floating btn-large waves-effect waves-light blue" ng-click="abrirFormularioInscricao()"><i class="material-icons">add</i></a>

  <div id="modal-inscrever-filme" class="modal modal-fixed-footer modal-inscrever-filme">
    <div class="modal-content">
      <h4>Inscreva seu filme</h4>
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Informe o título do seu filme" id="titulo" ng-model="filme.titulo" type="text" class="validate">
            <label for="titulo">Titulo</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <textarea placeholder="Faça uma sinopse do seu filme" ng-model="filme.sinopse" id="sinopse" type="text" class="materialize-textarea validate"></textarea>
            <label for="sinopse">Sinopse</label>
          </div>
        </div>

        <div class="row">
         <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input type="file" ng-model="filme.capa">
          </div>
          <div class="file-path-wrapper">
            <label for="sinopse">Capa do Filme</label>
            <input class="file-path validate" type="text" placeholder="Envie uma foto da capa do seu filme">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Cole aqui o link para o seu filme no YouTube" ng-model="filme.video_url" ng-change="exibePreVisualizacao()" id="video_url" type="text"
          class="validate">
          <label for="video_url">Link do YouTube</label>
        </div>
      </div>
      <div ng-show="carregandoVideo" class="row center-align">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="exibirVideo" class="row">
        <div class="video-container">
          <iframe width="853" height="480" ng-src="{{filme.video_url}}" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0)" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="inscreverFilme(filme)"><i class="fa fa-share-alt" aria-hidden="true"></i>  Inscrever </a>
  </div>
  </div>

  <div id="modal-login" class="modal modal-fixed-footer" ng-controller="AutenticacaoController">
   <div class="modal-content  col s12 m6 l4">
     <h4>Efetuar Login</h4>
     <form class="login-form">

     <div class="row margin">
      <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
        <input id="email" type="text" ng-model="usuario.email" placeholder="Informe o seu e-mail">
        <label for="email">E-Mail</label>
      </div>
    </div>
    <div class="row margin">
      <div class="input-field col s12">
        <i class="material-icons prefix">lock_outline</i>
        <input id="password" type="password" ng-model="usuario.senha" placeholder="Informe sua senha">
        <label for="password">Senha</label>
      </div>
    </div>
    <div class="hide row">          
      <div class="input-field col s12 m12 l12  login-text">
        <input type="checkbox" id="remember-me">
        <label for="remember-me">Lembre-me </label>
      </div>
    </div>
    <div class="row login-row">
      <div class="input-field col s12">
        <a href="javascript:void(0)" class="btn-login btn waves-effect waves-light col s12" ng-click="login(usuario)">Login</a>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <p class="margin medium-small"><a href="javascript:void(0)" ng-click="cadastrarSe()">Cadastrar-se</a></p>
      </div>
      <div class="hide input-field col s7 m6 l6">
        <p class="margin right-align medium-small"><a href="page-forgot-password.html">Esqueceu a Senha ?</a></p>
      </div>          
    </div>
  </form>
  </div>
  </div>

  <div id="modal-cadastro" class="modal" ng-controller="CadastroController">
    <div class="modal-content">
      <h4>Cadastre-se</h4>
     <form>
      <div class="row">
       <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate" ng-model="novoUsuario.nome" placeholder="Informe o seu nome completo">
          <label for="icon_prefix">Nome</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
        <input id="email" type="email" class="validate" ng-model="novoUsuario.email" placeholder="Informe o seu e-mail">
        <label for="email">E-Mail</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">lock</i>
        <input id="password" type="password" class="validate" ng-model="novoUsuario.senha" placeholder="Informe uma senha para o seu usuário">
        <label for="password">Senha</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">lock_outline</i>
        <input id="confirm-password" type="password" class="validate" ng-model="novoUsuario.confirmacaoSenha" placeholder="Informe a senha novamente">
        <label for="confirm-password">Confirmar Senha</label>
      </div>
    </div>

  </div>
  <div class="modal-footer">
   <a href="javascript:void(0)" ng-click="cadastrar(novoUsuario)" class="btn waves-effect waves-light col s12">Cadastrar</a>
  </div>
  </form>
  </div>
  </div>

  <div id="modal-watch-video" class="s12 s6 l6 modal watch-video">
    <div class="modal-content">
     <div class="video-container">
      <iframe width="420" height="315" src="https://www.youtube.com/embed/B7zPiF149q8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <a id="btn-fechar" class="modal-action modal-close">X</a>
  </div>
  </div>
</div>