<div class="filmes row">
  <div class="filme" ng-repeat="filme in filmes | orderBy: '-'">
    <div class="card">
      <div class="card-avatar">
        <div class="avatar-imagem valign-wrapper">
          <figure class="valign">
            <img ng-src="{{filme.usuario.avatar}}">
          </figure>
        </div>
        <div class="avatar-nome valign-wrapper">
          <h5 class="valign">{{filme.usuario.nome}}</h5>
        </div>
      </div>
      <div class="card-image">
        <img src="http://img.historiadigital.org/2013/12/Filme-Gladiador-2000.jpg">
        <span class="card-title">{{filme.titulo}}</span>
      </div>
      <div class="card-content">
        <p>{{filme.sinopse}}</p>
      </div>
      <div class="card-action right-align">
        <a class="btn-like grey-text text-darken-1"><i class="material-icons">thumb_up</i></a>
      </div>
    </div>
  </div>

  <a id="btn-inscrever" class="btn-floating btn-large waves-effect waves-light blue" onclick="javascript: $('#modal-inscrever').openModal();"><i class="material-icons">add</i></a>

  <div id="modal-inscrever" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Increva seu filme</h4>
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Digite seu nome" id="nome" ng-model="filme.usuario.nome" type="text" class="validate">
            <label for="nome">Nome</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Dê um título para sua história" ng-model="filme.titulo" id="titulo" type="text" class="validate">
            <label for="titulo">Título</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea placeholder="Conte-nos sobre a sua história" ng-model="filme.sinopse" id="depoimento" type="text" class="materialize-textarea validate"></textarea>
            <label for="depoimento">História</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Cole aqui o link do seu vídeo no YouTube" ng-model="filme.video_url" ng-change="exibePreVisualizacao()" id="video_url" type="text"
              class="validate">
            <label for="video_url">Link do YouTube</label>
          </div>
        </div>
        <div ng-show="carregandoVideo" class="row center-align">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
        <div ng-show="exibirVideo" class="row">
          <div class="video-container">
            <iframe width="853" height="480" ng-src="{{filme.video_url}}" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a href="javascript:void(0)" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="inscreverFilme(filme)"><i class="fa fa-share-alt" aria-hidden="true"></i> Compartilhar</a>
    </div>
  </div>

  <style>
    #wrapper {
      width: 90%;
      max-width: 1100px;
      min-width: 800px;
      margin: 50px auto;
    }
    
    .filmes {
      -webkit-column-count: 1;
      -webkit-column-gap: 10px;
      -webkit-column-fill: auto;
      -moz-column-count: 1;
      -moz-column-gap: 10px;
      -moz-column-fill: auto;
      column-count: 1;
      column-gap: 15px;
      column-fill: auto;
    }
    
    .filme {
      display: inline-block;
      background: #FEFEFE;
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      column-break-inside: avoid;
      background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
      opacity: 1;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
    }
    
    .card-avatar {
      height: calc(60px + 2em);
      padding: 1em;
    }
    
    .avatar-imagem,
    .avatar-nome {
      display: flex;
      float: left;
    }
    
    .avatar-imagem figure {
      margin: 0px;
    }
    
    .avatar-nome {
      display: flex;
      height: 100%;
      padding-left: 1em;
    }
    
    .avatar-nome h4 {
      margin: 0px;
    }
    
    figure img {
      width: 60px;
      height: 60px;
      border-radius: 100%;
    }
    
    #btn-inscrever {
      position: fixed;
      right: 1em;
      bottom: 1em;
    }
    
    @media (min-width: 600px) {
      .filmes {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
      }
      
      #btn-inscrever {
        position: fixed;
        right: 2em;
        bottom: 2em;
      }
    }
    
    @media (min-width: 992px) {
      .filmes {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
      }
    }
    
    @media (min-width: 1170px) {
      .filmes {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
      }
    }
  </style>